<%- include("header") -%>

<div class="container">

    <div class="row">
        <div class="col-6">
            An image will go here
        </div>
        <div class="col-6">
            I built this site after I developed an (assumed) egg sensitivity to track the food that I'm eating, and see how it correlates to the poops that I'm having.
        </div>
        
    </div>
</div>


<%- include("footer") -%>