<%- include("header") %>

    <div class="container">


        <div class="row">
            <div class="col-12">
                <form action="/meal" method="Post">
                    <fieldset>
                        <legend>Food</legend>
                        <div class="form group">
                            <label for="name">What did you eat: </label>
                            <input type="text" name="name" id="name" class="form-control">
                            <label for="source">Where is it from: </label>
                            <input type="text" name="source" id="source" class="form-control">
                            <label for="ingredients">Ingredients: </label>
                            <textarea id="ingredients" name="ingredients" placeholder="Input separated by commas" cols="75" rows="5" class="form-control"></textarea>
                        </div>
                        <div class="form group">
                            <label for="user">User: </label>
                            <input type="text" name="user" id="user" class="form-control">
            
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>              
                    </fieldset>

                </form>

            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <form action="/bm" method="POST">
                    <fieldset>
                        <legend>Poops</legend>
                        
                        <div class="form group">
                            <label for="bmRating">What is the rating for the BM: </label> <br>
                            <small id="bmHelp" class="form-text text-muted"> <a href="https://dfwgidoctor.com/2019/09/27/poop-says-about-your-health/">Guidance on the type scales</a> </small>

                            <input type="number" id="bmRating" name="bmRating" max="7" min="1" class="form-control">
                
                            <label for="user">User: </label>
                            <input type="text" name="user" id="user" class="form-control">
                
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                </fieldset>

        
                </form>
            </div>
        </div>
        
    </div>


<%- include("footer") %>